<nav id="nav-primary" class="navbar navbar-dark navbar-full bg-danger">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fa fa-university" aria-hidden="true"></i>&nbsp;University
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/_tipek"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/tahaipek"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
      </li>
    </ul>
  </div>
</nav>